.description-div{
    overflow: auto;
    height: 90px;
}
.main-div{
    height: 550px;
    width: 18rem
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
